name: "Update Flake Lock"
on:
  workflow_dispatch:
  schedule:
    - cron: '30 14 * * 5'

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.NIX_UPDATE_TOKEN }}
          
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: DeterminateSystems/update-flake-lock@main
        with:
          token: ${{ secrets.NIX_UPDATE_TOKEN }}
          pr-title: "Chore: Update Nix flake inputs"
          pr-labels: |
            dependencies
            automated

