name: "Update Flake Lock"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "Chore: Update Nix flake inputs"
          pr-labels: |
            dependencies
            automated
